<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%- include partials/_header %>
</head>
<body>
  <table>
    <tr><th>Short URLs</th><th>URLs</th></tr>
    <% for(var url in urls) { %>
    <tr>
      <td><%- urls[url].shortURL %></td>
      <td><%- urls[url].longURL %></td>
      <td><button><form method="GET" action="<%-`/urls/${urls[url].shortURL}`%>">        <input type="submit" value="Edit">  </input></form></button></td>
      <td><button><form method="POST" action="<%-`/urls/${urls[url].shortURL}/delete`%>"><input type="submit" value="Delete"></input></form></button></td>
    </tr>
    <% } %>
    <tr>
      <td></td>
      <td>
          <div width:100%;height:100%; style="background-color:white; color:black; padding:100px;">
              <button><form method="GET" action="/urls/new"><input type="submit" value="Create"></input></form></button>
          </div>
      </td>
  </table>
    <div width:100%;height:100%; style="background-color:white; color:black; padding:50px;">
    </div>
</body>
</html>