<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="TinyApp" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <%- include partials/_header %>
</head>
<body>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">URL</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% for(var url in urls) { %>
          <tr>
            <td><a href="<%-`/u/${urls[url].shortURL}`%>"><%- urls[url].shortURL %></a></td>
            <td><a href="<%-urls[url].longURL%>"><%- urls[url].longURL %></a></td>
            <td><form method="GET" action="<%-`/urls/${urls[url].shortURL}`%>">        <input type="submit" value="Edit">  </input></form></td>
            <td><form method="POST" action="<%-`/urls/${urls[url].shortURL}/delete`%>"><input type="submit" value="Delete"></input></form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
<footer>
  <div style="text-align: center;">
    <form method="GET" action="/urls/new"><input type="submit" value="Create New Shortcut"></input></form>
  </div>    
</footer>
</html>